@layer base {
  body {
    @apply bg-gray-50 text-gray-800 antialiased font-sans m-0;
  }
  
  ::-webkit-scrollbar { @apply w-2 h-2; }
  ::-webkit-scrollbar-track { @apply bg-gray-100; }
  ::-webkit-scrollbar-thumb { @apply bg-gray-400 rounded-full hover:bg-gray-500; }
}